/* vars */
:root {
    /* HTML */
    --html-background-image: url("background.jpg");
    --background-position: center;
    --background-size: cover;
    
    --default-bg-color: aliceblue;

    /* Body */
    --font-size: 20px;
    --font-family: Verdana, Geneva, Tahoma, sans-serif;

    --background-color: rgba(201, 219, 235, 0.9);
    --margin: 1vmin 10vmin 0vmin 10vmin;
    --padding: 3vmin;

    /* Headings */
    --h1-align: center;

    /* Links */
    --a-color: rgb(184, 49, 152);
    --a-color-hover: cadetblue;
    --a-color-active: rgb(70, 154, 81);
    --a-color-visited: rgb(144, 109, 144);

}

/* content */

html {
    background-image: var(--html-background-image);
    background-color: var(--default-bg-color);

    background-position: var(--background-position);
    background-size: var(--background-size);
}

body {
    background-color: var(--background-color);

    font-size: var(--font-size);
    font-family: var(--font-family);

    margin: var(--margin);
    padding: var(--padding);

    /* grid display*/
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
    "head"
    "main"
    "footer";

}

header p {
    max-width: 50%;
}

/* up to large mobile */
@media screen and (max-width: 425px) {
    html {
        background-size: auto;
    }

    body {
        font-size: 14px;
    }
}

/* up to tablet */
@media screen and (max-width: 768px) {
    header p {
        max-width: 100%;
    }
}

header {
    grid-area: head;
}

main {
    grid-area: main;
}


footer {
    grid-area: footer;
}


h1 {
    text-align: var(--h1-align);
}

/* anchors */
a {
    color: var(--a-color);
}

a:visited {
    color: var(--a-color-visited);
}

a:hover {
    color: var(--a-color-hover);
}

a:active {
    color: var(--a-color-active);
}

